# .NET
bin/
obj/

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs

# Rider
.idea/

# VS Code
.vscode/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/

# ASP.NET Core
*.db
*.sqlite

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# JetBrains Rider
.idea/
